<app-header></app-header>
<div class="home">
  <div class="home__container">
    <h5 style="color: white; background: black; text-align: center">
      Hi guys Zahid here!!, since I'm using Microsoft Azure's "FREE TIER" app service, some of these products WILL TAKE SOME TIME TO LOAD initially (some might not even load)...
      <br />
      Email me at: zahiddodiya@gmail.com to scale up the service plan to Premium for some time. ✌️
    </h5>
    <img class="home__advertImage" src="assets\images\amazon_ad\amazon_prime_adv.png" />

    <div class="home__row">
      <app-product [productId]="2"></app-product>
      <app-product [productId]="4"></app-product>
      <app-product [productId]="1"></app-product>
    </div>

    <div class="home__row">
      <app-product [productId]="3"></app-product>
      <app-product [productId]="6"></app-product>
      <app-product [productId]="10"></app-product>
    </div>

    <div class="home__row">
      <app-product [productId]="5"></app-product>
      <app-product [productId]="7"></app-product>
      <app-product [productId]="8"></app-product>
    </div>

    <div class="home__row">
      <app-product [productId]="9"></app-product>
      <app-product [productId]="11"></app-product>
      <app-product [productId]="12"></app-product>
    </div>
  </div>
</div>
