<app-header></app-header>
<div class="home">
  <div class="home__container">
    <h4 style="color: white; background: black; text-align: center">
      Hi Guys, Zahid Here!! Some features here won't work as
      expected since I am using the Azure's "FREE TIER" plans. Sorry about that! ✌️.<br />
    </h4>

    <img class="home__advertImage" src="assets\images\amazon_ad\amazon_prime_adv.png" />

    <div class="home__row">
      <app-product [productId]="2"></app-product>
      <app-product [productId]="4"></app-product>
      <app-product [productId]="1"></app-product>
    </div>

    <div class="home__row">
      <app-product [productId]="3"></app-product>
      <app-product [productId]="6"></app-product>
      <app-product [productId]="10"></app-product>
    </div>

    <div class="home__row">
      <app-product [productId]="5"></app-product>
      <app-product [productId]="7"></app-product>
      <app-product [productId]="8"></app-product>
    </div>

    <div class="home__row">
      <app-product [productId]="9"></app-product>
      <app-product [productId]="11"></app-product>
      <app-product [productId]="12"></app-product>
    </div>
  </div>
</div>
